#secondary {
	border-radius:10px;
}
#page {
	border-radius:0 0 10px 10px;
}
#supplementary {
	border-radius:10px 10px 0 0;
}
#site-generator {
	border-radius:0 0 10px 10px;
}
#access {
	border-radius:10px;
}
article {
	border-radius:10px;
}
img {
	border-radius:7px;
}
