article {
	background:#f5ecec;
	padding:10px 25px 25px;
}

/* Comments link */

.entry-header .comments-link {
	background: url(../../images/lis.png) no-repeat top right;
	font-size: 13px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	text-decoration: none;
	width: 120px;
	height: 70px;
	}

.entry-header .comments-link a {
	background: #fff url(../../images/bubble.png) no-repeat;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 48px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 15px;
	right: 48px;
	text-align: center;
	text-decoration: none;
	width: 70px;
	height: 48px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	background-color: #f57e20;
	color: #fff;
	color: rgba(255,255,255,0.8);
}
.entry-header .comments-link .leave-reply {
	visibility: hidden;
}
